*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	hanging-punctuation: first last;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
	overflow-wrap: break-word;
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
	}
}
