---
import { Seo } from '@datocms/astro';
import { MainFooter, MainHeader } from '@components';
import '@styles';
import type { Locale } from '@types';

interface Props {
	locale: Locale;
	site: any;
	page: any;
}

const { locale, site, page } = Astro.props;
---

<html lang={locale}>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>

		<Seo data={[...page.seo, ...site.favicon]} />
	</head>
	<body>
		<MainHeader />
		<main>
			<slot />
		</main>
		<MainFooter />
	</body>
</html>

<style>
	header {
		display: flex;
		justify-content: end;
		column-gap: 1.5rem;
		flex-wrap: wrap;
	}
</style>
